.cf-creator{
    width: 40vw;
    height: 80vh;
    margin: 0 auto;
    position: fixed;
    top: 12%;
    left: 32%;
    background-color: rgb(206, 206, 206);
}
.cf-cretor-header{
    display: flex !important;
}
.source{
    width: 85%;
    margin: auto;
    margin-top: 2%;
}
.sources{
    overflow: auto;
    height: 85%;
}
.save{
    position: sticky;
    left: 70%;
}